@import '../_variables.sass';
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 70px auto 70px;
    grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
    height:98vh;
}
header {
    grid-area: header;
    display: grid;
    grid-template-columns: 200px 40% auto auto;
    border-bottom-color: #2A345A;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    background-image: linear-gradient($color-base-primary-gold, #A57F57);
    color:white;
}
header div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header .title {
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
header .logo {
    justify-content: center;
}
header .logo img {
    width: 65px;
    height: 65px;
}
header .alert {
    justify-content: center;
}
header .login {
    display: flex;
    justify-content: flex-end;
}
header .login squid-a{
    margin-left: 16px;
    padding-right: 8px;
}

nav {
    grid-area: sidebar;
}
.sink {
    grid-area: main;
    padding: 8px;
}
footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .logo img {
    height: 30px;
}
h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    cursor:pointer;
}
@media only screen and (min-device-width: 360px) and (max-device-width: 770px) {
    .container {
        grid-template-rows: 40px auto 40px;
    }
    header .title {
        font-size: 1rem;

    }
    header {

        grid-template-columns: 100px 40% auto auto;
    }
    header .logo img {
        width: 35px;
        height: 35px;
    }
  }
@media only screen  and (max-device-width: 359px) {
    .container {
        grid-template-rows: 40px auto 40px;
    }
    header .title {
        font-size: .75rem;

    }
    header {

        grid-template-columns: auto 40% auto auto;
    }
    header .logo img {
        width: 35px;
        height: 35px;
    }
  }
  .balance{
      width: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 8px;
  }